language: node_js
node_js: 
  - "10"
install:
  - npm install
script:
  - npm run test
jobs:
  include:
    - stage: Produce Coverage
      node_js: node
      script: jest --coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage